@keyframes moveFromLeft {
    from { transform: translateX(-100%); }
}

@keyframes moveToLeft {
    to { transform: translateX(70%); }
}

.slide-in {
    animation: moveFromLeft 0.5s ease both;
}

.slide-out {
    animation: moveToLeft 0.5s ease both;
}
